@charset "ISO-8859-1";
body{
	background-color:antiquewhite;
}
select{
	    background-color: darkseagreen;
}
.time{
	border-radius: 5px;
    color: white;
    background-color: cadetblue;
    padding: 5px;
}